<!-- include base pattern for page -->
{% extends 'main/base.html' %}

<!-- text to display in page header -->
{% block title %}
    {{ title }}
{% endblock %}

<!-- code to display on page -->
{% block content %}
    <div class="container py-3">
        <h1>Are you sure to delete record?</h1>
        <div class="table-responsive">
            <table class="table table-hover mt-2">
                <thead class="table-dark">
                    <tr class="col">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Available</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.price }}</td>
                        <td>{{ course.available }}</td>
                        <td>{{ course.category }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'courses:index' %}" class="btn btn-primary">Return</a>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}