<!-- include base pattern for page -->
{% extends 'main/base.html' %}
{% load static %}

<!-- text to display in page header -->
{% block title %}
    {{ title }}
{% endblock %}

<!-- code to display on page -->
{% block content %}
    <div class="container py-3">
        <h1>{{ title }}</h1>
        <p>Name: {{ course.name }}</p>
        <p>Description: {{ course.description }}</p>
        <p>Price: {{ course.price }}$</p>
        <p>Available: {{ course.available }}</p>
        <p>Category: {{ course.category }}</p>
        <a href="{% url 'main:home' %}" class="btn btn-primary">Return</a>
    </div>
{% endblock %}