<!-- include base pattern for page -->
{% extends 'main/base.html' %}

<!-- text to display in page header -->
{% block title %}
    {{ title }}
{% endblock %}

<!-- main content on page -->
{% block content %}
    <div class="container py-3">
        <a href="{% url 'clients:create' %}" class="btn btn-outline-dark"><i class="fas fa-plus-circle me-2"></i>Create</a>
        {% if clients %}
            <div class="table-responsive">
                <table class="table table-hover mb-5 mt-3">
                    <thead class="table-dark">
                        <tr class="col">
                            <th>ID</th>
                            <th>Surname</th>
                            <th>Name</th>
                            <th>Middlename</th>
                            <th>Birth Date</th>
                            <th>Telephone</th>
                            <th>Address</th>
                            <th class="col-2">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.id }}</td>
                                <td>{{ client.surname }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.middlename }}</td>
                                <td>{{ client.birth_date }}</td>
                                <td>{{ client.telephone_number }}</td>
                                <td>{{ client.address }}</td>
                                <td>
                                    <a href="{% url 'clients:update' client.id %}" class="btn btn-outline-dark p-1 mx-1"><i class="fas fa-redo mx-1"></i>Update</a>
                                    <a href="{% url 'clients:delete' client.id %}" class="btn btn-outline-dark p-1 mx-1"><i class="far fa-trash-alt mx-1"></i>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
                <!-- if number of pages more than 1, then display pagination -->
                {% if page_obj.has_other_pages %}
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Previous</a>
                                </li>
                            {% endif %}
                            {% for p in paginator.page_range %}
                                <!-- if page equals the same page make it active -->
                                {% if page_obj.number == p %}
                                    <li class="page-item active">
                                        <a href="?page={{ p }}" class="page-link text-decoration-none text-white">{{ p }}</a>
                                    </li>
                                <!-- display 3 numbers like: 1(not display) | 2(display) 3(current) 4(display) | 5(not display) -->
                                {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                                    <li class="page-item">
                                        <a href="?page={{ p }}" class="page-link text-decoration-none text-dark">{{ p }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
        {% else %}
            <p>No records</p>
        {% endif %}
    </div>
{% endblock %}